@model GamesStudios.Models.Game 
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>@Model.Name</h1>
    <p class="lead">@Model.Description</p>
    <p><a href="@Model.DownloadLink" class="btn btn-primary btn-lg">Download &raquo;</a></p>
</div>

